.Menu{
    display: flex;   
}

.Menu img{
    position: relative;
    height: 190px; 
    width: 30vw;
}
.Bmenu{
    position: relative;
    width: 300px; 
    margin-top: 145px;
    padding: 10px;
    font-size: 20px;
    border:0;
   
    text-align: center;
    background-color: #7b7b8085;
     transition: background-color 500ms ;
}
.Bmenu:hover{
    background-color: #505052a8;    
    color: black(9, 45, 70);
    border:0;   
 }
.Contact{
    display: flex;
    flex-direction: column;
    width: 300px;   
}
.Logo{
    object-fit: scale-down ;
}